/* ------------------------------------------------------ 
    TABLE OF CONTENT
---------------------------------------------------------
01. General CSS
03. Footer CSS
------------------------------*/

/* -----------------------------------
   01. General CSS
-------------------------------------*/

@font-face {
    font-family: 'Raleway-regular';
    src: url('../fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway-Semiblod';
    src: url('../fonts/Raleway-SemiBold.ttf');
}
@font-face {
    font-family: 'Opensans-regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

:root {
    --primary-font: 'Opensans-regular';
    --primary-font-bold: 'Opensans-Blod';
    --secondary-font: 'Raleway-regular';
    --secondary-font-bold: 'Raleway-Blod';
    --secondary-font-semibold: 'Raleway-Semiblod';
    --Roboto-font:'Roboto-regular';
    --white-color: #ffffff;
    --color-gray: #A5A1A1;
    --btn-gradient: linear-gradient(135deg, #EB00FF 0%, #00A3FF 84.87%);
}

body {
    margin: 0px !important;
    font-family: var(--secondary-font);
    overflow: hidden; /* Prevent overflow and unwanted scroll bars */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    width: 100vw; /* Ensure the body takes up the full viewport width */
}

.cls-logo-3 {
    fill: #3c9a63;
}

.cls-logo-2 {
    fill: #fff;
}

/* -----------------------------------
   03. Footer CSS
-------------------------------------*/

.magic_mock_body .footer {
    font-weight: 400 !important;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    color: var(--white-color);
}

.magic_mock_body .footer .foot_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.magic_mock_body .footer .foot_logo svg {
    padding-left: 15px;
}

.foot_logo svg {
    width: 130px;
    height: 30px;
}


/* Specific adjustments to footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: none;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    width: 100%;
}