/* ------------------------------------------------------ 
    TABLE OF CONTENT
---------------------------------------------------------
06. Chris's weird stuff
------------------------------*/

/* Scan Bar */
.scan-bar {
    position: absolute;
    top: 0;
    left: -7px; /* Extend 7px to the left */
    width: calc(100% + 14px); /* Extend 7px on both sides of the image */
    height: 6px; /* Adjust the height of the bar as needed */
    background-color: rgba(211, 211, 211, 0.5); /* Light gray with some transparency */
    animation: scan 6s linear infinite, glow 3s linear infinite; /* Combine the scan and glow animations */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Initial subtle glow */
}

@keyframes scan {
    0% {
        top: 0;
    }
    50% {
        top: calc(100% - 35px); /* Stops at the bottom of the thumbnail */
    }
    100% {
        top: 0; /* Moves back to the top */
    }
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Subtle glow at start and end */
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 40px rgba(255, 255, 255, 0.7); /* Bright spark at the center */
    }
}
